<div class="container-fluid">

    <div class="page-header">
        <h1>Kabura <small>Stock/Cryptocurrency tracker</small></h1>
    </div>
    <div class="row">
        <div class="col col-sm-5">
            <!-- bootstrap search -->
            <div id="searchSymbol" class="active-purple-3 active-purple-4 mb-4">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
     </div>
    <div class="row justify-content-center">
        <div class="col col-sm-10">    
            <!-- draw the chart -->
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
</div>